@import url(./styles/header.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --cor-background:#EBECEE;
    --cor-branca: #FFFFFF;
    --cor-laranja: #EB9B00;
    --cor-azul: #002F52;
    --background-sections-azul: #326589;
    --fonte-principal: Poppins;
}
body{
    background-color: var(--cor-background);
}



