.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-branca);
    position: relative;
}

.header__conteiner{
    display: flex;
    align-items: center;
    margin: 16px 24px;
    gap: 1.5rem;
}

.header__menuHamburgue{
    width: 2.25rem;
    height: 1.5rem;
    background-image: url(../img/Menu.svg);
    display: inline-block;
}

.header__conteiner__menuLista{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 60vw;
    background-color: var(--cor-branca);
}
.header__conteiner__buttonMenu{
    display: none;
}

.header__conteiner__buttonMenu:checked~.header__conteiner__menuLista{
    display: block;
}


.header__conteiner__menuLista__titulo, .header__conteiner__menuLista__itens{
    padding: 1rem;
}

.header__conteiner__menuLista__titulo{
    color: var(--cor-laranja);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 700;
}

.header__conteiner__menuLista__itens__link{
    text-decoration: none;
    color: var(--cor-azul);
    font-family: var(--fonte-principal);
    font-size: 16px;
}
